.color{ 
    --background:rgb(241, 238, 234);
}

.header{
    background-color: blueviolet;
    color:white;
}

div.a {
    width: 50%;
  }
  
div.center {
    text-align: center;
}

.boton{
    --background: blueviolet;
}